<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/vendor/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/static/vendor/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="controls">
        <input type="date" id="datePicker">
        <button id="btnToday">Today</button>
        <button id="btnPrev">&larr; Prev Day</button>
        <button id="btnNext">Next Day &rarr;</button>

        <div class="filters">
            <span id="statusDisplay" style="color: #999; align-self: center; margin-right: 15px;">Loading...</span>
            <label><input type="checkbox" id="filterRoads" checked> Roads</label>
            <label><input type="checkbox" id="filterHikers" checked> Hiker/Biker</label>
            <label><input type="checkbox" id="filterHazards" checked> Hazards</label>
            <label><input type="checkbox" id="filterChangesOnly"> Changes Only</label>
            <span id="helpIcon" class="help-icon" title="Keyboard Shortcuts">?</span>
        </div>
    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>

    <div id="timeline-container">
        <div id="timeline"></div>
    </div>

    <div id="helpModal" class="modal-overlay hidden">
        <div class="modal-content">
            <h3>Keyboard Shortcuts</h3>
            <ul>
                <li><kbd>T</kbd> - Go to Today</li>
                <li><kbd>R</kbd> - Toggle Roads</li>
                <li><kbd>H</kbd> - Toggle Hiker/Biker</li>
                <li><kbd>Z</kbd> - Toggle Hazards</li>
                <li><kbd>C</kbd> - Toggle 'Changes Only'</li>
                <li><kbd>?</kbd> - Show this Help menu</li>
                <li><kbd>&larr;</kbd> / <kbd>&rarr;</kbd> - Previous / Next Day</li>
            </ul>
        </div>
    </div>

    <script src="/static/vendor/leaflet/leaflet.js"></script>
    <script src="/static/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>