<!DOCTYPE html>
<html lang="en">
<head>
    <title>Glacier Road Status</title>
    <link rel="stylesheet" href="/static/vendor/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/static/vendor/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="controls">
        <input type="date" id="datePicker">
        <button id="btnToday"><span><u>T</u>oday</span></button>
        <button id="btnPrev">&larr; Prev</button>
        <button id="btnNext">Next &rarr;</button>

        <div class="filters">
            <span id="statusDisplay">Loading...</span>
            <div class="ctrl-sep"></div>
            <label><input type="checkbox" id="filterRoads" checked> <span><u>R</u>oads</span></label>
            <label><input type="checkbox" id="filterHikers" checked> <span><u>H</u>iker/Biker</span></label>
            <label><input type="checkbox" id="filterHazards" checked> <span>Ha<u>z</u>ards</span></label>
            <label><input type="checkbox" id="filterChangesOnly"> <span><u>C</u>hanges Only</span></label>
            <span id="helpIcon" class="help-icon" title="Keyboard Shortcuts">?</span>
        </div>
    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>

    <div id="timeline-container">
        <div id="timeline"></div>
    </div>

    <div id="helpModal" class="modal-overlay hidden">
        <div class="modal-content">
            <h3>Keyboard Shortcuts</h3>
            <ul>
                <li><kbd>W</kbd> <kbd>A</kbd> <kbd>S</kbd> <kbd>D</kbd> - Pan Map</li>
                <li><kbd>Q</kbd>/ <kbd>E</kbd> or <kbd>-</kbd>/ <kbd>+</kbd> - Zoom Out / In</li>
                <li><kbd>T</kbd> - Go to Today</li>
                <li><kbd>R</kbd> - Toggle Roads</li>
                <li><kbd>H</kbd> - Toggle Hiker/Biker</li>
                <li><kbd>Z</kbd> - Toggle Hazards</li>
                <li><kbd>C</kbd> - Toggle 'Changes Only'</li>
                <li><kbd>?</kbd> - Show this Help menu</li>
                <li><kbd>&larr;</kbd> / <kbd>&rarr;</kbd> - Previous / Next Day</li>
            </ul>
        </div>
    </div>

    <div id="alertModal" class="modal-overlay hidden">
        <div class="modal-content" style="text-align: center;">
            <h3 style="color: #e74c3c; margin-top: 0;">Missing Data</h3>
            <p id="alertMessage" style="font-size: 16px; margin: 20px 0;"></p>
        </div>
    </div>

    <script src="/static/vendor/leaflet/leaflet.js"></script>
    <script src="/static/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>